body {
    padding: 16px 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

.popup {
    display: flex;
    flex-direction: column;
}

.button {
    width: 200px;
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.optOut {
    display: flex;
    font-size: 0.8em;
    opacity: 0.6;
    margin-top: 16px;
}

.optOut-checkbox {
    margin-right: 8px;
}
